@import './variables';

@mixin mainButton {
    margin: 0 10px;
    padding: 5px 10px;
    border-radius: 10px;
    background-color: $accent-color;
    font-size: 16px;
    text-decoration: none;
    color: white;
    outline: none;

    &:hover{
        cursor: pointer;
    }
}