@import './variables';

@mixin form {
    fieldset{
        border-radius: 5px;
        padding: 20px;
        background-color: #ffffff;
    }

    h2{
        padding-top: 0;
        border-bottom: none;
    }

    p{
        padding-bottom: 0;
        padding-top: 20px;
    }

    label{
        min-width: 60px;
    }

    input {
        flex: 0 1 75%;
        border: 1px solid black;
        padding: 5px;
        border-radius: 5px;
    }

    button{
        background-color: $accent-color;
        color: white;
        border: none;
        border-radius: 5px;
        padding: 10px 20px;
        margin-top: 30px;
        width: 40%;
        outline: none;

        &:hover{
            cursor: pointer;
        }
    }

    a{
        color:#7B1FA2;

        &:hover{
            color:#7B1FA2;
        }
    }

    .field{
        display: flex;
        justify-content: space-around;
        padding-bottom: 0;
    }

    p.error{
        text-align: left;
        color: red;
        padding-top: 0;
    }

    input.input-error{
        border: 1px solid red;
    }
}