/* You can add global styles to this file, and also import other style files */

@import './variables';

html, body { height: 100%; }
body {
    background-color: $light;
    margin: 0;
    font-family: Roboto, "Helvetica Neue", sans-serif;
}


// .bg-img {
//     position: relative;
//     background-image: url('./assets/img/Carcassone-Featured.jpg');
//     background-position: center;
//     background-repeat: no-repeat;
//     background-position: center;
//     background-repeat: no-repeat;
//     background-size: cover;
//     height: 100%;
//     z-index: -1;
// }
