/* You can add global styles to this file, and also import other style files */

@import './variables';

html, body { height: 100%; }
body {
    background-color: $light;
    margin: 0;
    font-family: Roboto, "Helvetica Neue", sans-serif;
}

.loading-form{
    opacity: 50%;
}
