.list-wrapper{
    width: 1000px;
    margin: 0 auto;
    display: grid;
    grid-template-columns: 250px 250px 250px 250px;
    grid-auto-flow: row;
}

mat-paginator{
    background: linear-gradient(145deg, rgba(242,236,228,1) 0%, rgba(160,157,154,1) 60%, rgba(65,65,65,1) 100%);
}