<app-loader [isLoading]="isLoading"></app-loader>
<app-search></app-search>
<div [@cardEnter]="gamesData.length" *ngIf="!isLoading" class="list-wrapper">
    <div *ngFor="let game of gamesData">
        <app-game [title]="game.title" [image]="game.image" [description]="game.description" [gameId]="game.objectId"></app-game>
    </div>
</div>
<p *ngIf="errorMessage.length>0">{{errorMessage}}</p>
<mat-paginator [length]="count" [pageSize]="pageSize" [hidePageSize]="true" [pageIndex]="currentPage" (page)="handlePage($event)"></mat-paginator>
