.list-wrapper {
  width: 1000px;
  margin: 0 auto;
  display: grid;
  grid-template-columns: 250px 250px 250px 250px;
  grid-auto-flow: row;
}

mat-paginator {
  background: linear-gradient(145deg, #f2ece4 0%, #a09d9a 60%, #414141 100%);
}
