<form #f="ngForm" class="login" [class.loading-form]="isLoading" (ngSubmit)="submitFormHandler(f.value)">

  <fieldset>
    <h2>Login Form</h2>
    <p class="field">
      <label for="email">Email</label>
      <input #userEmail="ngModel" [class.input-error]="userEmail.touched && !!userEmail.errors" type="email"
        name="email" id="email" placeholder="john.doe@gmail.com" ngModel
        pattern="^[a-z0-9._%+-]+@[a-z0-9.-]+\.[a-z]{2,4}$" required>
    </p>

    <p *ngIf="userEmail.touched && userEmail.errors?.required" class="error">
      Email is required!
    </p>
    <p *ngIf="userEmail.touched && userEmail.errors?.pattern" class="error">
      Email is not valid!
    </p>

    <p class="field">
      <label for="password">Password</label>
      <input #userPassword="ngModel" [class.input-error]="userPassword.touched && !!userPassword.errors" type="password"
        name="password" id="password" placeholder="******" ngModel required minlength="6">
    </p>
    <p *ngIf="userPassword.touched && userPassword.errors?.required" class="error">
      Password is required!
    </p>
    <p *ngIf="userPassword.touched && userPassword.errors?.minlength" class="error">
      Password must be at least 6 characters!
    </p>

    <button [disabled]="isLoading || f.invalid">Login</button>

    <p class="text-center">
      Have an account?
      <a routerLink="/user/register">Register</a>
    </p>
    <p *ngIf="errorMessage.length>0" class="error">{{errorMessage}}</p>
  </fieldset>
</form>