.details-list {
  width: 50%;
  margin: 20px auto;
  padding: 0;
}

.details-list li {
  list-style: none;
  margin: 10px 0;
  padding: 10px;
  border-radius: 5px;
}

.details-list li:nth-child(odd) {
  background-color: #d8caca;
}

.details-list li:nth-child(even) {
  background-color: #bebcbc;
}

.details-list a {
  text-decoration: none;
  color: black;
  font-size: 16px;
}

.details-list a:hover {
  font-weight: bold;
}
