<div class="container">
    <mat-card class="card">
        <mat-card-header>
            <mat-card-title>BoardGames</mat-card-title>
            <mat-card-subtitle>List of boardgames</mat-card-subtitle>
        </mat-card-header>
        <img mat-card-image src="../../assets/img/BoardGames.jpg" alt="boardgames">
        <mat-card-content>
            <p>
                Here you can find list of board games and info about them. If you login you can see the comments and
                post a
                comment about a game.
            </p>
        </mat-card-content>
        <mat-card-actions>
            <button routerLink="/gamelist" class="btn" mat-button>BOARDGAME LIST</button>
        </mat-card-actions>
    </mat-card>

    <mat-card class="card">
        <mat-card-header>
            <mat-card-title>Usefull links</mat-card-title>
            <mat-card-subtitle>List of links about boardgames</mat-card-subtitle>
        </mat-card-header>
        <img mat-card-image src="../../assets/img/GameTable.jpg" alt="game table">
        <mat-card-content>
            <p>
                Here you can find lnks for boardgame stores in Sofia, popular websites etc. Maybe you will find some
                interesting things in this section.
            </p>
        </mat-card-content>
        <mat-card-actions>
            <button routerLink="/links" class="btn" mat-button>SHOW ME LINKS</button>
        </mat-card-actions>
    </mat-card>
</div>