@import '../../../variables';
@import '../../../button_mixin.scss';

.container{
    display: flex;
    justify-content: space-between;

    header{
        display: flex;
    }

    h1{
        font-size: 24px;
    }

    .welcome{
        margin: 0;
        text-shadow: -1.5px -1.5px 0px rgba(0,0,0,0.75);
    }

    a{
        @include mainButton;
    }
}