@import '../../../variables';
@import '../../../button_mixin.scss';

.container{
    display: flex;
    justify-content: space-between;

    header{
        display: flex;
    }

    h1{
        font-size: 24px;
    }

    .welcome{
        margin: 0;
    }

    a{
        @include mainButton;
    }
}