.example-card {
    max-width: 200px;
    margin: 20px;

    .mat-card-header{
        justify-content: center;
    }

    mat-card-actions{
        display: flex;
        justify-content: space-around;
    }

}

