<app-loader [isLoading]="isLoading"></app-loader>
<div *ngIf="!isLoading" class="info-container">
    <h2 *ngIf="errorMessage.length > 0">{{errorMessage}}</h2>
    <div class="img-wrapper">
        <img [src]="game.image" alt="game picture">
    </div>
    <div class="content">
        <h3>{{game.title | titlecase}}</h3>
        <p>{{game.description}}</p>
    </div>
</div>

<div class="btn-comment" *ngIf="isLogged">
    <button (click)="toggleForm()">Comment it</button>
</div>

<div [@fadeAnimation] *ngIf="isFormOpen">
    <app-comment ></app-comment>
</div>

<div class="comments-container">
    <h3>...and your thoughts</h3>
    <app-comment-list></app-comment-list>
</div>
