.header-container{
    background: linear-gradient(90deg, rgba(160,126,190,1) 0%, rgba(103,170,193,1) 41%, rgba(24,173,104,1) 100%);
}

.header-container h1{
    text-align: center;
    padding: 30px;
}
