header {
    background: rgb(0, 128, 182);
    background: linear-gradient(0deg, rgba(0, 128, 182, 1) 0%, rgba(0, 128, 182, 1) 35%, rgba(0, 212, 255, 1) 100%);
}

main {
    width: 50%;
}

aside {
    width: 29%;
    margin-top: 1em;
    font-size: 0.8em;
}

footer {
    background: rgb(0, 212, 255);
    ;
    margin-top: 1em;
    position: absolute;
    bottom: 0;
    width: 100%;
    max-width: 1366px;
}
