form.new-game {
  width: 40%;
  margin: 2em auto 0;
  text-align: center;
}

.new-game fieldset {
  border-radius: 5px;
  padding: 20px;
  background-color: #ffffff;
}

.new-game h2 {
  padding-top: 0;
  border-bottom: none;
}

.new-game p {
  padding-bottom: 0;
  padding-top: 20px;
}

.new-game label {
  min-width: 60px;
}

.new-game input {
  flex: 0 1 75%;
  border: 1px solid black;
  padding: 5px;
  border-radius: 5px;
}

.new-game button {
  background-color: #55b989;
  color: white;
  border: none;
  border-radius: 5px;
  padding: 10px 20px;
  margin-top: 30px;
  width: 40%;
  outline: none;
}

.new-game button:hover {
  cursor: pointer;
}

.new-game a {
  color: #7B1FA2;
}

.new-game a:hover {
  color: #7B1FA2;
}

.new-game .field {
  display: flex;
  justify-content: space-around;
  padding-bottom: 0;
}

.new-game p.error {
  text-align: left;
  color: red;
  padding-top: 0;
}

.new-game input.input-error {
  border: 1px solid red;
}

.new-game #description {
  resize: none;
  padding: 10px;
  border-radius: 5px;
  outline: none;
}

.new-game .countdown {
  text-align: right;
  padding: 0;
  margin-top: -10px;
  margin-right: 5px;
}
