@import '../../../mixin.scss';

form.new-game {
    width: 40%;
    margin: 2em auto 0;
    text-align: center;
}

.new-game{

    @include form;

    #description{
        resize: none;
        padding: 10px;
        border-radius: 5px;
        outline: none;
    }

    .countdown{
        text-align: right;
        padding: 0;
        margin-top: -10px;
        margin-right: 5px;
    }

}

